<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button type="button" onclick="FnEvent()">Click Me!</button>
<div>
    <div class="action_tip">粘贴复制功能提示：Ctrl+A 进入粘贴复制模式，然后Ctrl+C复制、Ctrl+V粘贴；macOS系统可直接右键进行复制粘贴。</div>
    <div class="vm_name">云服务器：<span>111</span><span></span></div>
</div>

<script type="text/javascript" src="./111.js">
</script>
<script type="text/javascript">
    let a = 0

    if (a === 0) {
        console.log('------')
    } else {
        console.log('******')
    }
</script>
</body>
</html>
